*{
    padding: 0;
    margin: 0;
    /*list-style: none;*/
}
a{
    text-decoration: none;
}

body {
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
}

@font-face {
    font-family: 'myIcon';
    src: url("../font/glyphicons-halflings-regular.woff2");
}