<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客详情</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index/header.css">
    <link rel="stylesheet" href="css/index/content.css">
    <link rel="stylesheet" href="css/index/footer.css">
    <link rel="stylesheet" href="css/blog_detail/blog_detail.css">
    <script src="https://lib.baomitu.com/vue/2.6.10/vue.common.dev.js"></script>
    <script src="./js/utils/utils.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="nav">
            <ul>
                <li><a href="/">我的个人博客 | 技术博客</a></li>
                <li><a href="/">首页</a></li>
                <li><a href="/siteMap.html">文章</a></li>
            </ul>
        </div>
        <div class="search">
            <input type="text" placeholder="输入关键词查找">
            <button>搜索</button>
        </div>
    </div>
</header>
<div class="content">
    <div class="content_left">
        <div class="blog" id="blog">
            <div class="title">{{title}}</div>
            <div class="msg">
                分类:{{tags}}&nbsp&nbsp&nbsp发布于:{{date}}&nbsp&nbsp&nbsp浏览:({{views}})
            </div>
            <div class="article" v-html="content"></div>
        </div>
        <div id="comment">
            <div class="title">{{title}}: 目前有{{total}}条留言</div>
            <div class="comment">
                <ul class="user_comment">

                    <li v-for="(item,index) in comments" class="parent">
                        <div><span class="user_name">{{item.user_name}}</span>: {{item.ctime}} <a href="#send_comment" class="answer" @click="answer(item.id,item.user_name)">[回复]</a></div>
                        <div class="comment_content">{{item.comments}}</div>
                        <div class="child" v-if="item.children.length > 0" v-for="(v,i) in item.children">
                            <div><span class="user_name">{{v.user_name}}</span> : {{v.ctime}}</div>
                            <div class="comment_content">{{v.comments}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="send_comment" id="send_comment">
            <div class="title">发表评论</div>
            <input type="text" class="name" placeholder="昵称" v-model="name">
            <input type="email" class="Email" placeholder="邮箱(评论被回复可以收到)" v-model="email">
            <textarea class="comment_content" cols="30" rows="10" placeholder="请发表评论..." v-model="comment"></textarea>
            <div class="test">
                <input type="text"  placeholder="验证码" v-model="test">
                <span v-html="randomCode" @click="getRandomCode" class="randomCode"></span>
                <span class="err" v-text="err"></span>
            </div>
            <div class="submit" @click="sendComment">提交留言</div>
        </div>
    </div>
    <div class="content_right">
        <div class="right_module">
            <div class="right_module_title">
                随机标签云
            </div>
            <div class="right_module_content">
                <ul class="tag" id="tags">
                    <li v-for="(tag,index) in tags" :key="tag.tag + '' +index" >
                        <a :href="tag.link" :style="{color:randomColor(),fontSize:randomFontSize()}">{{tag.tag}}</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="right_module">
            <div class="right_module_title">
                最近热门
            </div>
            <div class="right_module_content">
                <ul class="hot" id="hot">
                    <li v-for="(hot,index) in hotList" :key="hot.title + '' + index">
                        <a :href="hot.link">{{hot.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right_module">
            <div class="right_module_title">
                最新评论
            </div>
            <div class="right_module_content">
                <ul class="comment" id="newComment">
                    <li v-for="(comment,index) in commentList" :key="comment.userName + '' + index">
                        <p>
                            <span>{{comment.user_name}}</span>
                            <span>{{comment.ctime}}</span>
                        </p>
                        <a href="" style="color:#777">{{comment.comments}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="info">
        我的个人博客
    </div>
</footer>
<script src="./js/axios.js"></script>
<script src="./js/base.js"></script>
<script src="./js/blog_detail.js"></script>
</body>
</html>